<ion-view view-title="Register">
  <ion-content>
      <div class="list">
      <label class="item item-input">
          <input type="text" placeholder="Email" ng-model="user.email">
        </label>
        <label class="item item-input" ng-if="errors.email">
          <span class="form-error">{{errors.email}}</span>
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="user.username">
        </label>
        <label class="item item-input" ng-if="errors.username">
          <span class="form-error">{{errors.username}}</span>
        </label>

        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password">
        </label>
        <label class="item item-input" ng-if="errors.password">
          <span class="form-error">{{errors.password}}</span>
        </label>

        <label class="item item-input">
          <input type="password" placeholder="Confirm Password" ng-model="user.passwordConfirm">
        </label>
        <label class="item item-input" ng-if="errors.passwordConfirm">
          <span class="form-error">{{errors.passwordConfirm}}</span>
        </label>

        <label class="item item-input" ng-if="errors.empty">
          <span class="form-error">{{errors.empty}}</span>
        </label>

        <label class="item">
          <button class="button button-block button-positive" ng-click="submit()">Register</button>
        </label>
      </div>
      <!-- <div>
        <pre>{{error}}</pre>
      </div> -->
  </ion-content>
</ion-view>